<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rapdict.takuro.rapdict">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 親がMainActivityであるライム返しアクティビティ -->
        <activity
            android:name=".Rhyme_Return_Setting_Activity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rapdict.takuro.rapdict.MainActivity" />
        </activity>
        <activity
            android:name=".Rhyme_Return_Activity"
            android:label="@string/app_name"></activity>


    </application>

</manifest>